<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuani21.blog.auto.mapper.JobTraceMapper" >
  <resultMap id="BaseResultMap" type="com.zhuani21.blog.auto.bean.JobTrace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="job_cycle_type" property="jobCycleType" jdbcType="VARCHAR" />
    <result column="step" property="step" jdbcType="VARCHAR" />
    <result column="step_value" property="stepValue" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="plan_time" property="planTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, job_id, job_cycle_type, step, step_value, status, plan_time, finish_time, comment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhuani21.blog.auto.bean.JobTraceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job_trace
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_trace
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_trace
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhuani21.blog.auto.bean.JobTraceExample" >
    delete from job_trace
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhuani21.blog.auto.bean.JobTrace" >
    insert into job_trace (id, job_id, job_cycle_type, 
      step, step_value, status, 
      plan_time, finish_time, comment
      )
    values (#{id,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{jobCycleType,jdbcType=VARCHAR}, 
      #{step,jdbcType=VARCHAR}, #{stepValue,jdbcType=REAL}, #{status,jdbcType=VARCHAR}, 
      #{planTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuani21.blog.auto.bean.JobTrace" >
    insert into job_trace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="jobCycleType != null" >
        job_cycle_type,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="stepValue != null" >
        step_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="planTime != null" >
        plan_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobCycleType != null" >
        #{jobCycleType,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        #{step,jdbcType=VARCHAR},
      </if>
      <if test="stepValue != null" >
        #{stepValue,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="planTime != null" >
        #{planTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhuani21.blog.auto.bean.JobTraceExample" resultType="java.lang.Integer" >
    select count(*) from job_trace
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job_trace
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.jobCycleType != null" >
        job_cycle_type = #{record.jobCycleType,jdbcType=VARCHAR},
      </if>
      <if test="record.step != null" >
        step = #{record.step,jdbcType=VARCHAR},
      </if>
      <if test="record.stepValue != null" >
        step_value = #{record.stepValue,jdbcType=REAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.planTime != null" >
        plan_time = #{record.planTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job_trace
    set id = #{record.id,jdbcType=INTEGER},
      job_id = #{record.jobId,jdbcType=INTEGER},
      job_cycle_type = #{record.jobCycleType,jdbcType=VARCHAR},
      step = #{record.step,jdbcType=VARCHAR},
      step_value = #{record.stepValue,jdbcType=REAL},
      status = #{record.status,jdbcType=VARCHAR},
      plan_time = #{record.planTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuani21.blog.auto.bean.JobTrace" >
    update job_trace
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobCycleType != null" >
        job_cycle_type = #{jobCycleType,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=VARCHAR},
      </if>
      <if test="stepValue != null" >
        step_value = #{stepValue,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="planTime != null" >
        plan_time = #{planTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuani21.blog.auto.bean.JobTrace" >
    update job_trace
    set job_id = #{jobId,jdbcType=INTEGER},
      job_cycle_type = #{jobCycleType,jdbcType=VARCHAR},
      step = #{step,jdbcType=VARCHAR},
      step_value = #{stepValue,jdbcType=REAL},
      status = #{status,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>