<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd ">
		
	<mvc:resources location="/WEB-INF/css/images/favicon.ico" mapping="/favicon.ico" />
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<mvc:resources location="/WEB-INF/libs/" mapping="/libs/**" />
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**" />
	
	<context:component-scan base-package="com.zhuani21.blog.controller"></context:component-scan>
	<!-- 	<mvc:annotation-driven/> -->
	<!-- <mvc:annotation-driven validator="validator" conversion-service="conversion-service" /> -->
	<!-- 默认的注解映射的支持，自动注册DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter -->  
	<mvc:annotation-driven validator="validator" conversion-service="conversion-service"/>
	<!-- 类型转换 -->
    <bean id="conversion-service" class="org.springframework.format.support.FormattingConversionServiceFactoryBean" >
    	<property name="converters">
    		<list>
    			<bean class="com.zhuani21.blog.controller.converter.StringToDateConverter"/>
    		</list>
    	</property>
    </bean>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
		
   	<!-- hibernate的校验框架加到springmvc中，1.配validationMessageSource，2.配validator，3.加入到 mvc:annotation-driven validator="validator"-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>
        <!--不设置则默认为classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="validateMessageSource"/>
    </bean>
    <bean id="validateMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
        <property name="basenames">
        	<list>
        		<value>classpath:springmvc/springMvcValidationMessages</value>
        	</list>
        </property>  
        <property name="fileEncodings" value="UTF-8"/>  
        <!--学习资料中并没有设置这个，默认是IOS8859-1,所以提示会是乱码，这里设置为UTF-8就好了 -->
        <property name="defaultEncoding" value="UTF-8"/>  
        <property name="cacheSeconds" value="120"/>  
    </bean>
    <bean class="com.zhuani21.blog.exception.resolver.GlobalExceptionHandler"></bean>
	<!-- 文件上传 ,这个multipartResolver的命名是根据DispatcherServlet中的MULTIPART_RESOLVER_BEAN_NAME，所以这个bean是给DispatcherServlet用的-->
	<bean id="multipartResolver"
	    class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <!-- 设置上传文件的最大尺寸为5MB 单位是字节 -->
	    <property name="maxUploadSize">
	        <value>5242880</value>
	    </property>
	    <!--resolveLazily看名字就知道延迟解析文件的意思，如果设置为true，那么在没有读取文件之前，不会分析请求中的文件。默认false -->
		<!-- <property name="resolveLazily" value="true"></property> -->
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/signin/**"/>
			<mvc:exclude-mapping path="/libs/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/css/**"/>
			<bean class="com.zhuani21.blog.interceptor.AccessInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/signin/**"/>
			<mvc:exclude-mapping path="/libs/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/css/**"/>
			<bean class="com.zhuani21.blog.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/user/**"/>
			<bean class="com.zhuani21.blog.interceptor.UserManageInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/log/**"/>
			<bean class="com.zhuani21.blog.interceptor.LogManageInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>